@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root {
    
    --White: hsl(0, 0%, 100%);
    
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    /**h2 and bold table*/
    --Brown-800: hsl(14, 45%, 36%);
    /**Callout*/
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /** Font weights
    - Family: [Young Serif]
    - Weights: 400

    - Family: [Outfit]
    - Weights: 400, 600, 700    
    */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Outfit", sans-serif;
    background: var(--Stone-100);
    color: var(--Stone-900);
}
.recipe {
    margin: 8em auto;
    width: 47.8em;
    background: var(--White);
    padding: 2.7em;
    border-radius: 25px;
}
.image-recipe {
    width: 100%;
    border-radius: 15px;
    vertical-align: top;
}
.title {
    font-family: "Young Serif", serif;
    font-size: 2.6em;
    font-weight: normal;
    margin: 0.8em 0 0.4em;
}
.paragraph {
    line-height: 155%;
    letter-spacing: .0167em;
}
.bold {
    font-weight: 700;
}
ul, ol {
    list-style-position: outside; /* la viñeta se alinea con el texto */
    padding-left: 1.5em;
    
    & ::marker {
        color: var(--Brown-800);
        font-weight: 700;
    }  
    li {
        margin-bottom: 0.6em;
        padding-left: 1.2em;
       
    }
}
.callout {
    background: var(--Rose-50);
    padding: 1.8em;
    margin: 1.9em 0 1.2em 0;
    border-radius: 15px;

    .callout__title {
        color: var(--Rose-800);
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 0.6em;
    }
    
    .callout__paragraph::marker {
            color: var(--Rose-800);       
    }
}
section {
    margin-bottom: 1.65em;

    &:last-child {
        margin-bottom: 0;
    }
}
hr {
    margin-top: 1.8em;
}
.title-section {
    font-family: "Young Serif", serif;
    font-size: 1.8em;
    color: var(--Brown-800);
    font-weight: normal;
    margin-bottom: 0.6em;
}
.table {
    margin-top: 0.8em;
    width: 100%;
    border-collapse: collapse;    /** Permite usar border-bottom en tr*/

    tr {
        
        border-bottom: .5px solid var(--Stone-600);

        td {
            font-weight: 600;
            padding: 0.9em 1.9em;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .first-column {
        width: 48%;
    }
    .second-column {
        font-weight: 700;
        color: var(--Brown-800);
    }
}

@media screen and (max-width: 23.4375em ){
    body {
        background: var(--White);
    }
    .recipe {
        margin: 0;
        width: 47.8em;
        background: var(--White);
        padding: 22em 4em 0 4em;
        border-radius: 0px;
        position: relative;
    }
    .image-recipe {
        width: 100%;
        border-radius: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .title {
        font-size: 4.7em;
        line-height: 100%;
    }
    .paragraph {
        font-size: 2.07em;    
        line-height: 155%;
        letter-spacing: .0167em;
    }
    .callout {
        padding: 2.8em;
        margin: 1.9em 0 1.2em 0;

        .callout__title {
            color: var(--Rose-800);
            font-size: 2.6em;
            font-weight: 600;
            margin-bottom: 0.6em;
        }
    }
    section {
        margin-bottom: 2.9em;

        &:last-child {
        margin-bottom: 1.65em;
        }
    }
    hr {
        margin-top: 3.7em;
    }
    .title-section {
        font-size: 3.7em;
        margin-bottom: 0.6em;
    }
    .table {
        font-size: 2.1em;
    }

}